@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --corBackground: #f7f7f7;
    --corSecundaria: #0052cc;
    --corTercearia: #1A1A19;

    --fontPrincipal: 'Montserrat', sans-serif;
    --fontSecundaria: 'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--corBackground);
}

.cabecalho {
    background-color: var(--corSecundaria);
    padding: 2%;
}

.cabecalho__conteudo {
    text-align: center;
}

.cabecalho__conteudo__titulo {
    font-size: 1.7rem;
    font-family: var(--fontPrincipal);
    color: var(--corBackground);
    font-weight: 600;
}

.principal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal__conteudo__titulo {
    color: var(--corTercearia);
    font-family: var(--fontPrincipal);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin: 10px auto;
    display: block;
}

.principal__conteudo__pesquisa {
    display: block;
    margin: 10px auto;
    width: 290px;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.lista__titulo {
    color: var(--corTercearia);
    font-family: var(--fontPrincipal);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

#lista-musicas {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

#lista-musicas li {
    background-color: white;
    font-family: var(--fontPrincipal);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.paginacao {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-family: var(--fontPrincipal);
}

.paginacao a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--corSecundaria);
    border: 1px solid #ddd;
    border-radius: 3px;
}

.paginacao a:hover {
    background-color: var(--corSecundaria);
    color: var(--corBackground);
    border-color: var(--corSecundaria);
}

.paginacao-link.ativo {
    color: var(--corBackground);
    background-color: var(--corSecundaria);
    border-radius: 5px;
    padding: 5px 10px;
}

.rodape {
    padding: 3% 10%;
}

.rodape__conteudo {
    text-align: center;
}

.rodape__conteudo__paragrafo {
    font-size: 1.1rem;
    font-family: var(--fontPrincipal);
    font-weight: 500;
    color: var(--corTercearia);
}

@media (max-width: 768px) {
    .cabecalho__conteudo__titulo {
        font-size: 1.2rem;
    }

    .principal__conteudo__titulo,
    .lista__titulo {
        font-size: 1.5rem;
    }

    #pesquisa {
        padding: 10px 20px;
    }

    #lista-musicas li {
        padding: 8px;
    }

    .paginacao a {
        padding: 5px 8px;
    }
}

@media (max-width: 480px) {
    .cabecalho__conteudo__titulo {
        font-size: 1rem;
    }

    .principal__conteudo__titulo,
    .lista__titulo {
        font-size: 1.5rem;
    }

    #pesquisa {
        padding: 8px 15px;
    }
}